In [1]:
print ("Hello World")

Hello World

In [3]:
number1 = 10
number2 = 5
result = number1 + number2
print(result)

15

In [5]:
number1 = 10
print(number1)

10

In [7]:
number1 = 15
number1 = 18
print(number1)

18

In [9]:
number1 = "hello"
print(number1)

hello

In [11]:
number1 = "hello"
number2 = 2
result = number1 + number2

TypeError: can only concatenate str (not "int") to str

In [15]:
number1 = "hello"
number2 = "2" #convert into string
result = number1 + number2
print(result)

hello2

In [21]:
#Data Type
x = 10
type(x)

int

In [23]:
y = "10"
type(y)

str

In [25]:
z = 10.0
type(z)

float

In [27]:
#string representation
x = "100"
y = "Robotics Mechatronics"
z = " "
t = ' '

In [29]:
x

'100'

In [31]:
y

'Robotics Mechatronics'

In [33]:
z

' '

In [35]:
t

' '

In [37]:
a = 1
b = 2.5
c = a + b
print (c)

3.5

In [39]:
a = 1
b = "2"
c = a + b
print(c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [43]:
#Mathematical Operation
5+2 #addition

7

In [45]:
5-2 #subtraction

3

In [47]:
5*2 #multiplication

10

In [49]:
5/2 #division

2.5

In [51]:
5//2 #integer part of result

2

In [53]:
5%2 #modulus

1

In [55]:
5**2 #square

25

In [57]:
#multiple arguments in print() function
a = 1
b = 1.2
c = "hello"
print(a, b, c)

1 1.2 hello

In [59]:
print(a, b, c, "world") # add another string without assigning

1 1.2 hello world

In [61]:
name = input ("What is your name? ")
name

What is your name?  arif

'arif'

In [63]:
name = input ("What is your name? ")
print("Welcome to Python, ", name, "!")

What is your name?  Md. Ariful Islam

Welcome to Python,  Md. Ariful Islam !

In [65]:
number1 = input ("Please type an integer and press enter: ")
number2 = input ("Please type another integer and press enter: ")
print("number1 + number2 = ", number1+number2)

Please type an integer and press enter:  12
Please type another integer and press enter:  25

number1 + number2 =  1225

In [67]:
number1 = input ("Please type an integer and press enter: ")
number2 = input ("Please type another integer and press enter: ")
number1 = int(number1)
number2 = int(number2)
print("number1 + number2 = ", number1+number2)

Please type an integer and press enter:  12
Please type another integer and press enter:  25

number1 + number2 =  37

In [69]:
#Comparison Operator
2==3 #equal?

False

In [71]:
3==3 #equal?

True

In [73]:
2>3

False

In [75]:
2<3

True

In [77]:
2!=3 #2 and 3 are not equal

True

In [79]:
3!=3 #3 and 3 are not equal

False

In [81]:
2>=3

False

In [83]:
2<=3

True

In [85]:
"Bangladesh" == "Bangladesh"

True

In [87]:
"Bangladesh" == "bangladesh"

False

In [89]:
my_money=30
rickshaw_fare=40
my_money>=rickshaw_fare

False

In [91]:
my_money=30
rickshaw_fare=30
my_money>=rickshaw_fare

True

In [93]:
my_money=50
rickshaw_fare=40
my_money>=rickshaw_fare

True

In [95]:
today="Friday"
today == "Friday"

True

In [97]:
today="Friday"
today == "Saturday"

False

In [99]:
not (today=="Saturday")

True

In [101]:
not True

False

In [103]:
not False

True

In [105]:
number=20
number>10

True

In [107]:
number<100

True

In [109]:
number>10 and number<100

True

In [111]:
number=200
number>10

True

In [113]:
number<100

False

In [115]:
number>10 and number<100

False

In [117]:
number>10 or number<100

True

In [119]:
#List
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [121]:
print(numbers[0])

1

In [123]:
print(numbers[9])

10

In [125]:
print(numbers[10])

IndexError: list index out of range

In [127]:
len(numbers)

10

In [135]:
bimstec = ["Bangladesh", "India", "Myanmar", "Sri Lanka", "Thailand", "Nepal", "Bhutan"]
print(bimstec)

['Bangladesh', 'India', 'Myanmar', 'Sri Lanka', 'Thailand', 'Nepal', 'Bhutan']

In [137]:
print(bimstec[0])

Bangladesh

In [139]:
print("Number of countries in BIMSTEC: ", len(bimstec))

Number of countries in BIMSTEC:  7

In [141]:
"China" in bimstec

False

In [143]:
"China" not in bimstec

True

In [147]:
bimstec = ["Bangladesh", "India", "Myanmar", "Sri Lanka", "Thailand", "Nepal", "Bhutan"]
country=input("Enter the name of the country: ")
if country in bimstec:
    print(country, "is a member of BIMSTEC")
print("Program Terminated")

Enter the name of the country:  China

Program Terminated

In [149]:
bimstec = ["Bangladesh", "India", "Myanmar", "Sri Lanka", "Thailand", "Nepal", "Bhutan"]
country=input("Enter the name of the country: ")
if country in bimstec:
    print(country, "is a member of BIMSTEC")
else:
    print(country, "is not a member of BIMSTEC")
print("Program Terminated")

Enter the name of the country:  China

China is not a member of BIMSTEC
Program Terminated

In [151]:
# Take input for the exam score
score = int(input("Enter your exam score: "))

# Determine the grade
if score >= 80:
    print("Grade: A+")
elif score >= 75:
    print("Grade: A")
elif score >= 70:
    print("Grade: A-")
elif score >= 65:
    print("Grade: B+")
elif score >= 60:
    print("Grade: B")
elif score >= 55:
    print("Grade: B-")
elif score >= 50:
    print("Grade: C+")
elif score >= 45:
    print("Grade: C")
elif score >= 40:
    print("Grade: D")
else:
    print("Grade: F")

Enter your exam score:  55

Grade: B-

In [155]:
#compare three numbers and find the maximum
n1=20
n2=30
n3=25
if n1>n2:
    max_n=n1
if n3>max_n:
    max_n=n3
max_n

30

In [157]:
n1=50
n2=60
n3=65
if n1>n2:
    max_n=n1
else:
    max_n=n2
if n3>max_n:
    max_n=n3
print("Maximum: ",max_n)

Maximum:  65

In [5]:
year=input("Input the year to check: ")
year=int(year)
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Input the year to check:  2026

Not a Leap Year

In [7]:
#turtle
import turtle #import turtle module to our program
turtle.forward(100) #order the turtle to move forward 10 pixels
turtle.exitonclick() #click on any region when output window opens

In [15]:
import turtle 
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.exitonclick()

In [23]:
import turtle 
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.exitonclick()

In [27]:
import turtle

turtle.speed(3)  # Set speed from 1 (slow) to 10 (fast), or 0 for instant

turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)

turtle.exitonclick()  # Click to close the window

In [29]:
#loop
for i in range(10):
    print("Blue Economy")

Blue Economy
Blue Economy
Blue Economy
Blue Economy
Blue Economy
Blue Economy
Blue Economy
Blue Economy
Blue Economy
Blue Economy

In [31]:
#print integer number
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
import turtle

turtle.speed(3) 

turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)

turtle.exitonclick()

In [40]:
import turtle

turtle.speed(3)  

for i in range (4):
    turtle.forward(100)
    turtle.left(90)

turtle.exitonclick()

In [41]:
result=0
for i in range(50):
    result=result+1
print(result)

50

In [44]:
result=0
for _ in range(50):
    result=result+1
print(result)

50

In [46]:
result=0
for num in range(50):
    result=result+num
print(result)

1225

In [48]:
result=0
for num in range(50):
    result+=num #result=result+num
print(result)

1225

In [50]:
result=0
for i in range(50):
    result+=1
print(result)

50

In [52]:
for i in range(1,20,5):
    print(i)

1
6
11
16

In [54]:
#compare numbers using loop
numbers=[6,1,3,0,9,3,2,5]
max_n=numbers[0]
for n in numbers:
    if n>max_n:
        max_n=n
print(max_n)

9

In [58]:
import turtle

turtle.speed(3)  

for i in range (20):
    turtle.forward(10)
    turtle.penup()
    turtle.forward(3)
    turtle.pendown()

turtle.exitonclick()

In [62]:
import turtle

turtle.speed(3)  

for side_length in range (50,100,10):
    for i in range(4):
        turtle.forward(side_length)
        turtle.left(90)
turtle.exitonclick()

In [66]:
bimstec = ["Bangladesh", "India", "Myanmar", "Sri Lanka", "Thailand", "Nepal", "Bhutan"]
for country in bimstec:
    print(country, "is a member of BIMSTEC")

Bangladesh is a member of BIMSTEC
India is a member of BIMSTEC
Myanmar is a member of BIMSTEC
Sri Lanka is a member of BIMSTEC
Thailand is a member of BIMSTEC
Nepal is a member of BIMSTEC
Bhutan is a member of BIMSTEC

In [70]:
#creating list using range() function
li=list(range(11))
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
#creating list of even numbers (1-20) using range() function
li=list(range(2,21,2))
print(li)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [74]:
i=0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [76]:
i=5
while i>=0:
    i-=1
    print(i)

4
3
2
1
0
-1

In [78]:
n=input("Please enter a positive integer: ")
n=int(n)

m=1
while m<=10:
    print(n,"x",m,"=",n*m)
    m+=1

Please enter a positive integer:  3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [82]:
import turtle
turtle.color("black")
turtle.speed(3)  

counter=0
while counter<36:
    for i in range(4):
        turtle.forward(100)
        turtle.right(90)
    turtle.right(10)
    counter+=1
turtle.exitonclick()

In [86]:
import turtle
height=5
width=5
turtle.speed(3)  
turtle.penup()
for y in range (height):
    for x in range(width):
        turtle.dot()
        turtle.forward(20)
    turtle.backward(20*width)
    turtle.right(90)
    turtle.forward(20)
    turtle.left(90)
turtle.exitonclick()

In [88]:
for i in range(10):
    if i == 5:
        break  # Exit the loop when i is 5
    print(i)

0
1
2
3
4

In [90]:
for i in range(10):
    if i == 5:
        continue  # Skip the iteration when i is 5
    print(i)

0
1
2
3
4
6
7
8
9

In [92]:
#Function
def greet():
    print("Hello, welcome to Python!")

greet()  # Calling the function

Hello, welcome to Python!

In [94]:
def add_numbers(a, b):
    return a + b

result = add_numbers(3, 5)
print(result)

8

In [96]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet("Arif")  # Custom argument
greet()  # Default argument

Hello, Arif!
Hello, Guest!

In [3]:
def greet(name):  # 'name' is a parameter
    print("Hello", name)

greet("Arif")     # "Arif" is an argument

Hello Arif

In [15]:
#global and local variable
def myfnc(x):
    print("Inside myfnc", x)
    x=10 # local variable
    print("Inside myfnc", x)
x=20 # global variable
myfnc(x)
print(x)

Inside myfnc 20
Inside myfnc 10
20

In [17]:
#list into function
def modify_list(lst):
    lst.append(4)       # Modifies the original list
    lst[0] = 99        # Changes an element

my_list = [1, 2, 3]
modify_list(my_list)
print(my_list)         # Output: [99, 2, 3, 4] (Original list is changed)

[99, 2, 3, 4]

In [21]:
#string
s="Oceanography"
len(s)

12

In [23]:
s="Arif's"
print(s)

Arif's

In [27]:
s='Arif\'s'
print(s)

Arif's

In [29]:
#getting individual letter from a string
country="Bangladesh" #assign a string
country[0]

'B'

In [31]:
for c in country:
    print(c)

B
a
n
g
l
a
d
e
s
h

In [33]:
s = "hello"
s[0] = 'H'  # ❌ TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [35]:
s = "hello"
new_s = s.upper()  # Creates a new string "HELLO"
print(s)      # "hello" (original unchanged)
print(new_s)  # "HELLO" (new string)

hello
HELLO

In [37]:
lst = [1, 2, 3]
lst[0] = 99  # ✅ Works
lst.append(4) # ✅ Works
print(lst)   # [99, 2, 3, 4] (modified)

[99, 2, 3, 4]

In [41]:
#Join strings
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)  # Output: "Hello World"

Hello World

In [43]:
str1 = "Hello"
str2 = "World"
result = " ".join([str1, str2])  # Join with a space separator
print(result)  # Output: "Hello World"

Hello World

In [45]:
str1 = "Hello"
str2 = "World"
result = f"{str1} {str2}"
print(result)  # Output: "Hello World"

Hello World

In [47]:
country="Bangladesh"
country.find("Ban")

0

In [49]:
country="Bangladesh"
country.find("ang")

1

In [51]:
country="Bangladesh"
country.find("Bengla")

-1

In [53]:
country="Bangladesh"
country.find("desh")

6

In [55]:
text = "I like apples, apples are tasty."
new_text = text.replace("apples", "oranges")
print(new_text)  
# Output: "I like oranges, oranges are tasty."

I like oranges, oranges are tasty.

In [57]:
text = "   Hello, World!   "
print(text.strip())  # "Hello, World!" (removes leading/trailing spaces)

text = "xxHello, World!xx"
print(text.strip("x"))  # "Hello, World!" (removes 'x' from both ends)

text = "abcHello, World!cba"
print(text.strip("abc"))  # "Hello, World!" (removes 'a', 'b', 'c' from ends)

Hello, World!
Hello, World!
Hello, World!

In [59]:
text = "   Hello, World!   "
print(text.lstrip())  # "Hello, World!   " (removes leading spaces)

text = "xxHello, World!xx"
print(text.lstrip("x"))  # "Hello, World!xx" (removes leading 'x')

Hello, World!
Hello, World!xx

In [61]:
text = "   Hello, World!   "
print(text.rstrip())  # "   Hello, World!" (removes trailing spaces)

text = "xxHello, World!xx"
print(text.rstrip("x"))  # "xxHello, World!" (removes trailing 'x')

   Hello, World!
xxHello, World!

In [67]:
s1="BangladesH"
s_up=s1.upper()
print(s_up)
s_lo=s1.lower()
print(s_lo)
s_cap=s1.capitalize()
print(s_cap)

BANGLADESH
bangladesh
Bangladesh

In [69]:
str="Bangladesh Maritime University"
words=str.split()
print(words)

['Bangladesh', 'Maritime', 'University']

In [71]:
for word in words:
    print(word)

Bangladesh
Maritime
University

In [79]:
str="Bangladesh Maritime University , Banladesh Agriculture University"
str.count("University")

2

In [83]:
s="Bangladesh"
s.startswith("Bang")

True

In [85]:
s.startswith("bang")

False

In [87]:
s.endswith("desh")

True

In [89]:
name="Dr. Subrata Kumar Aditya"
if name.startswith("Dr."):
    print("Dear Sir")

Dear Sir

In [91]:
import turtle

name=turtle.textinput("name", "What is your name?")
name=name.lower()
if name.startswith("mr"):
    print("Hello sir, how are you?")
elif name.startswith("mrs") or name.startswith("miss") or name.startswith("ms"):
    print("Hello Madam, how are you?")
else:
    name=name.capitalize()
    str="Hi"+name+"! How are you?"
    print(str)
turtle.exitonclick()

Hello sir, how are you?

In [93]:
#add new data
ocn=["Physical", "Chemical", "Geological", "Biological"]
print(ocn)

['Physical', 'Chemical', 'Geological', 'Biological']

In [99]:
ocn.append("Environmental")
print(ocn)

['Physical', 'Chemical', 'Geological', 'Biological', 'Environmental', 'Environmental']

In [101]:
ocn.append("Satellite")
print(ocn)

['Physical', 'Chemical', 'Geological', 'Biological', 'Environmental', 'Environmental', 'Satellite']

In [103]:
#sorting the data
ocn.sort()
print(ocn)

['Biological', 'Chemical', 'Environmental', 'Environmental', 'Geological', 'Physical', 'Satellite']

In [105]:
ocn.reverse()
print(ocn)

['Satellite', 'Physical', 'Geological', 'Environmental', 'Environmental', 'Chemical', 'Biological']

In [107]:
ocn=["Physical", "Chemical", "Geological", "Biological"]
print(ocn)

['Physical', 'Chemical', 'Geological', 'Biological']

In [109]:
ocn.insert(1,"Environmental")
print(ocn)

['Physical', 'Environmental', 'Chemical', 'Geological', 'Biological']

In [111]:
ocn.remove("Environmental")
print(ocn)

['Physical', 'Chemical', 'Geological', 'Biological']

In [113]:
ocn=["Physical", "Chemical", "Geological", "Biological"]
ocn.remove("Envionmental")

ValueError: list.remove(x): x not in list

In [115]:
ocn=["Physical", "Chemical", "Geological", "Biological"]
field="Environmental"
if field in ocn:
    remove(field)
else:
    print(field, "is not in list")

Environmental is not in list

In [121]:
ocn=["Physical", "Chemical", "Geological", "Biological"]
field=ocn.pop() # last in first out (LIFO)
print(field)

Biological

In [123]:
field=ocn.pop(1)
print(field)

Chemical

In [125]:
list_1=[1,2,3]
list_2=[4,5,6]
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 6]

In [127]:
del(list_1[1])
print(list_1)

[1, 3, 4, 5, 6]

In [129]:
del(list_1)
print(list_1)

NameError: name 'list_1' is not defined

In [131]:
list=[]
for x in range(10):
    list.append(x)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [133]:
li1=[1,2,3]
li2=[4,5,6]
li_sum=li1+li2
print(li_sum)

[1, 2, 3, 4, 5, 6]

In [135]:
li3=li1*2
print(li3)

[1, 2, 3, 1, 2, 3]

In [137]:
#want to create list where each element will be doubled than previous
li=[1,2,3,4]
new_li=[]
for x in li:
    new_li.append(2*x)
print(new_li)

[2, 4, 6, 8]

In [139]:
#use list comprehensions
new_li=[2*x for x in li]
print(new_li)

[2, 4, 6, 8]

In [141]:
#print even numbers using list comprehensions
li=[1,2,3,4,5,6,7,8,9,10]
even_numbers=[x for x in range(1,11) if x%2==0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [143]:
#print even numbers using list comprehensions
li=[1,2,3,4,5,6,7,8,9,10]
even_numbers=[x for x in range(1,10) if x%2==0]
print(even_numbers)

[2, 4, 6, 8]

In [145]:
#print even numbers using list comprehensions
li=[1,2,3,4,5,6,7,8,9,10]
even_numbers=[x for x in range(0,10) if x%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [1]:
#Tuple
x=(1,2,3)
type(x)

tuple

In [9]:
x=1,2,3 #tuple without parenthesis
type(x)

tuple

In [5]:
x=1
type(x)

int

In [7]:
x=1,
type(x)

tuple

In [11]:
#if we want to create empty tuple?
t=()
type(t)

tuple

In [13]:
#index of tuple
tpl=(1,2,3)
tpl[0]

1

In [15]:
#tuple is immutable
tpl=(1,2,3)
tpl[0]=99
tpl

TypeError: 'tuple' object does not support item assignment

In [17]:
#pack the tuple
numbers=(10,20,30,40)
#unpack the tuples into several variables
n1,n2,n3,n4=numbers
n1

10

In [21]:
#loop into tuple
items=(1,2,5.5,["a","b","c"],("apple","mango"))
for item in items:
    print(item,type(item))

1 <class 'int'>
2 <class 'int'>
5.5 <class 'float'>
['a', 'b', 'c'] <class 'list'>
('apple', 'mango') <class 'tuple'>

In [23]:
#Set: Collections of items
items={"pen","laptop","cellphone"}
items

{'cellphone', 'laptop', 'pen'}

In [25]:
type(items)

set

In [27]:
#Create set from list or tuple
li=[1,2,3,4]
tpl=(1,2,3)
A=set(li)
A

{1, 2, 3, 4}

In [29]:
B=set(tpl)
B

{1, 2, 3}

In [31]:
type(A)

set

In [33]:
type(B)

set

In [37]:
#Create set from string
A=set("Bangladesh") #Does not maintain the order of the letter
A

{'B', 'a', 'd', 'e', 'g', 'h', 'l', 'n', 's'}

In [39]:
#Check the member of a particular set
A={1,2,3}
1 in A

True

In [41]:
A={1,2,3,4,5}
B={2,4,6,8}
#Intersection
C=A&B
C

{2, 4}

In [43]:
#Union
C=A|B
C

{1, 2, 3, 4, 5, 6, 8}

In [45]:
#Unique elements
C=A^B
C

{1, 3, 5, 6, 8}

In [47]:
C=A-B
C

{1, 3, 5}

In [49]:
C=B-A
C

{6, 8}

In [51]:
#Dictionary
marks=[77,76,65,78,62,64,60,77,75,79]
roll=input("Please enter your roll number: ")
print("Your marks is ", marks[int(roll)-1])

Please enter your roll number:  3

Your marks is  65

In [53]:
#if we want to store two subjects number?
marks=[[74,73],[70,75],[68,72],[73,73]]
marks[0]

[74, 73]

In [55]:
marks[1][1]

75

In [57]:
marks[1][0]

70

In [59]:
#Dictionary
#Data is stored in couple (key,value)
#If we want to get data, we have to know the key
marks={1:77,2:76,5:62,4:78,3:65}
type(marks)

dict

In [61]:
marks[3]

65

In [63]:
print("Marks of roll number 4 is" , marks[4])

Marks of roll number 4 is 78

In [67]:
marks={"DH2001":75,"DH1777":72}
marks["DH2001"]

75

In [69]:
#Create empty dictionary
dt={}
type(dt)

dict

In [71]:
dt[1]="one"
dt

{1: 'one'}